<h2 class="search-result__subtitle">{{name}}</h2>
<div class="search-result__container">
    <div class="search-result__wrapper">
        <ul class="search-result__list">
            <li class="search-result__item">
                <span class="list-text">Capital: </span>{{capital}}
            </li>
            <li class="search-result__item">
                <span class="list-text">Population: </span>{{population}}
            </li>
            <li class="search-result__item">
                <span class="list-text">Languages: </span>
                <ul class="lang-list">
                    {{#each languages}}
                    <li>{{this.name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div class="search-result__wrapper">
        <img src="{{flag}}" alt="{{name}} flag" width="700">
    </div>
</div>